footer
    .chamada-contato
        background #858374
        padding 45px 0
        clearfix()
        h2
        p
            float left
            margin 0
        h2
            cinzel 24
            display inline-block
            color rgba(#fff, .5)
            line-height 1
            margin-right 25px
            span
                lato 28
                color #fff
        p
            lato 16
            display inline-block
            color #fff
        a
            float right
            display inline-block
            lato 16
            line-height 1
            color #fff
            padding 10px 14px
            border 1px solid #fff
            margin-top -6px
            transition background .3s, color .3s
            &:hover
                background #fff
                color $cinza
        +below($tablet)
            h2
            p
            a
                float left
                clear left
                margin-top 10px
            h2
                margin-top 0
        +mobile()
            padding 35px 0
            h2
                font-size 20px
                span
                    font-size 22px
                    display block
                    margin-top 5px
    .copyright
        background $cinza
        padding 15px 0
        border-top 3px solid #fff
        p
            lato 11
            color #fff
            margin 0
            text-align center
            cursor default
            a:hover
                color #000
            +mobile()
                span
                    font-size 0
                    display block
