header
    nav
        background $vermelho
        font-size 0
        text-align center
        clearfix()
        a
            display inline-block
            lato 14
            color #fff
            padding 5px 20px
            border-right 1px solid rgba(#fff, .15)
            transition background .3s, color .3s, border .3s
            &:first-child
                border-left 1px solid rgba(#fff, .15)
            &:hover
            &.active
                background $cinza
                color #fff
                border-color transparent
            +tablet()
                padding 5px 15px
            +mobile()
                width 50%
                float left
                padding 8px 0
                border-bottom 1px solid rgba(#fff, .15)
                span
                    display none
    .cabecalho-imagem
        clearfix()
        height 300px
        position relative
        .social
            position absolute
            top 10px
            left 0
            font-size 0
            z-index 2
            +mobile()
                left auto
                right 0
                top 25px
            a
                display inline-block
                width 16px
                height 16px
                text-indent -9999px
                margin-right 4px
                background-position center
                background-repeat no-repeat
                &.facebook
                    background-image $img('facebook.png')
                &.twitter
                    background-image $img('twitter.png')
                &.linkedin
                    background-image $img('linkedin.png')
        .logo
            width 50%
            height 100%
            float left
            text-indent -9999px
            background $img('logo.png') no-repeat center
        .imagem
            width 50%
            height 100%
            float right
            position relative
            background-size cover
            background-position center bottom
            img
                display none
        .imagem
        .mapa
            h1
                position absolute
                width 100%
                bottom 0
                cinzel 40
                color #fff
                padding 25px
                margin 0
                line-height 1
                background rgba($cinza, .65)
        .mapa
            width 50%
            height 100%
            float right
            position relative
            iframe
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                display block
        &.home
            height 400px
            .imagem h1
                font-size 24px
                line-height 1.2
        +tablet()
            height 250px
            .imagem
                width 52%
                max-width 450px
            .imagem
            .mapa
                h1
                    font-size 30px
                    padding 20px
            .mapa
                width 52%
                max-width 450px
            .logo
                width 47%
                background-size 260px auto
                background-position left center
            &.home
                height 300px !important
                .imagem
                    width 58%
                    max-width 450px
                .logo
                    width 40%
                    background-size 260px auto
                    background-position left center
        +mobile()
            height auto !important
            .mapa
                width 100%
                float left
                height 230px
            .imagem
                width 100%
                img
                    display block
                    width 100%
            .imagem
            .mapa
                h1
                    font-size 24px
            &.home .imagem h1
                font-size 20px
                padding 15px
            .logo
                width 100%
                height 140px
                background-size 200px auto
                background-position left center
