desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$vermelho = #AC3435
$cinza    = #6F6E5A

@import url('https://fonts.googleapis.com/css?family=Cinzel|Lato:300,300i,400,400i,700,700i')

lato($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Lato', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

cinzel($size)
    font-size $size + 0px
    font-family 'Cinzel', 'Georgia', 'Times New Roman', serif
    font-weight 400
