.atuacao
    .textos
        background #E8E9E3
        clearfix()
        .left
        .right
            width 50%
            float left
            padding 50px 0
        .left
            padding-right 60px
            h2
                cinzel 22
                color $vermelho
                margin 0 0 1.5em
            p
                lato 15
                color $cinza
                margin 0
                strong
                    display block
        .right
            p
                lato 18 light
                margin .6em 0
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
        +tablet()
            .left
            .right
                padding 40px 0
            .right
                width 52%
                max-width 450px
                float right
            .left
                width 47%
                padding-right 20px
        +mobile()
            padding 25px 0
            .left
                h2
                    font-size 20px
            .left
            .right
                width 100%
                float left
                padding 0
            .right
                margin-top 25px
    .imagens
        font-size 0
        text-align center
        padding 30px 0
        img
            display inline-block
        +tablet()
            img
                width 33.33%
        +mobile()
            padding 5% 0
            img
                width 100%
