.blog
    background #E8E9E3
    clearfix()
    .left
    .right
        width 50%
        float left
        padding 50px 0
    .left
        padding-right 60px
        .categorias
            margin-bottom 25px
            +mobile()
                border-top 1px solid $cinza
                padding-top 15px
                margin-top 30px
            h4
                lato 14 bold italic
                color $vermelho
                margin 0 0 .5em
            a
                lato 16
                color $cinza
                text-transform uppercase
                display block
                &:hover
                &.active
                    color $vermelho
        .nenhuma
            width 100%
            padding 10px
            border 1px solid rgba($cinza, .5)
            color $cinza
            lato 13
        .links
            +mobile()
                margin-top 30px
                border-top 1px solid $cinza
                padding-top 6px
            a
                display block
                lato 18 normal italic
                color $cinza
                border-bottom 1px solid $cinza
                padding-bottom 6px
                margin-bottom 6px
                transition padding .3s, color .3s
                span
                    display inline-block
                    font-size 15px
                    margin-left 5px
                    border-left 1px solid $cinza
                    opacity .6
                    padding-left 5px
                &:hover
                    padding-left 5px
                    color $vermelho
        .controls
            margin-top 25px
            clearfix()
            a
                display inline-block
                lato 14
                color $cinza
                padding 10px
                border 1px solid $cinza
                text-transform uppercase
                transition background .3s, color .3s, opacity .3s
                &#posts-proximas
                    float right
                &.disabled
                    background rgba($cinza, .3)
                    cursor not-allowed
                    pointer-events none
                    opacity .4
                &:hover
                    background $cinza
                    color #fff
    .right
        float right
        color $cinza
        lato 15
        text-align center
        #blog-carregar-mais
            display inline-block
            lato 16
            color $cinza
            padding 14px 24px
            border 1px solid $cinza
            text-transform uppercase
            transition background .3s, color .3s, opacity .3s
            +mobile()
                lato 14
            &.disabled
                background rgba($cinza, .3)
                cursor not-allowed
                pointer-events none
                opacity .4
            &:hover
                background $cinza
                color #fff
        .blog-thumb
            background #fff
            img
                width 100%
                display block
            .textos
                padding 25px 30px 30px
                +mobile()
                    padding 15px 20px 20px
                text-align center
                *
                    text-align left
        .blog-thumbs
            .blog-thumb
                margin-bottom 30px
                a
                    display inline-block
                    lato 16
                    border 1px solid $cinza
                    transition background .3s, color .3s
                    margin-top 15px
                    padding 14px 24px
                    line-height 1
                    +mobile()
                        padding 10px 20px
                        lato 15
                    &:hover
                        background $cinza
                        color #fff
        h1
            lato 28 bold italic
            margin 0
        img
            width 100%
            display block
        .texto a
            color $vermelho
            &:hover
                text-decoration underline
        .info
            lato 12
            position relative
            margin 10px 0 20px
            padding-top 10px
            &:before
                content ''
                position absolute
                width 120px
                height 1px
                background $cinza
                top 0
                left 0
            span
                display inline-block
                width 1px
                height 10px
                background rgba($cinza, .5)
                vertical-align middle
                margin 0 5px
        li
            margin .3em 0
        .blog-comentarios
            background #fff
            margin-top 10px
            text-align left
            padding 30px
            +mobile()
                padding 20px
            h5
                margin 0 0 10px
                lato 13 bold italic
            .comentario
                position relative
                color $cinza
                lato 12
                padding-bottom 12px
                margin-bottom 12px
                &:after
                    content ''
                    position absolute
                    width 70px
                    height 1px
                    background $cinza
                    bottom 0
                    left 0
                p
                    margin 0
                .dados
                    lato 12 bold italic
            form
                margin-top 35px
                &:first-child
                    margin-top 0
                input
                textarea
                    width 100%
                    display block
                    margin-bottom 4px
                    background #E8E9E3
                    border 0
                    outline 0
                    display block
                    resize none
                    padding 2px 7px
                    lato 12
                    color $cinza
                    +placeholder()
                        color rgba($cinza, .6)
                textarea
                    height 85px
                input[type='submit']
                    lato 14
                    display inline-block
                    width auto
                    border 1px solid $cinza
                    background #fff
                    transition background .3s, color .3s
                    padding 10px 14px
                    &:hover
                        background $cinza
                        color #fff
                #form-comentario-response
                    display none
                    width 100%
                    border 1px solid rgba($cinza, .4)
                    padding 6px
                    lato 12 bold
                    text-transform uppercase
                    text-align center
    +tablet()
        .left
        .right
            padding 40px 0
        .right
            width 52%
            max-width 450px
            float right
        .left
            width 47%
            padding-right 20px
    +mobile()
        padding 25px 0
        .left
        .right
            width 100%
            float left
            padding 0
