.contato
    background #E8E9E3
    clearfix()
    .left
    .right
        width 50%
        float left
        padding 50px 0
    .left
        padding-right 60px
        color $cinza
        .telefone
            lato 24 bold
            margin 0 0 .8em
            line-height 1
        .endereco
            lato 16
            margin 0
        .amplitude
            lato 15
            margin 4em 0 0
            strong
                display block
                margin-bottom 5px
    .right
        form
            background #fff
            padding 32px
            +mobile()
                padding 10px
            p
                lato 12 bold italic
                color $cinza
                margin 0 0 1em
            input
            textarea
                width 100%
                display block
                margin-bottom 4px
                background #E8E9E3
                border 0
                outline 0
                display block
                resize none
                padding 7px
                lato 14
                color $cinza
                +placeholder()
                    color rgba($cinza, .6)
            textarea
                height 180px
            input[type='submit']
                lato 14
                display inline-block
                width auto
                border 1px solid $cinza
                background #fff
                transition background .3s, color .3s
                padding 10px 14px
                &:hover
                    background $cinza
                    color #fff
            #form-contato-response
                display none
                width 100%
                border 1px solid rgba($cinza, .4)
                padding 6px
                lato 12 bold
                text-transform uppercase
                text-align center
    +tablet()
        .left
        .right
            padding 40px 0
        .right
            width 52%
            max-width 450px
            float right
        .left
            width 47%
            padding-right 20px
    +mobile()
        padding 25px 0
        .left
        .right
            width 100%
            float left
            padding 0
        .left
            .telefone
                font-size 20px
            .amplitude
                margin-top 1.5em
        .right
            margin-top 25px
