.home
    .chamada
        background #E8E9E3
        padding 20px 0
        .table
            display table
            > div
                display table-cell
                vertical-align middle
            .imagem
                img
                    width 450px
                    display block
                +tablet()
                    width 45%
                    img
                        width 100%
                        display block
            .texto
                padding-left 45px
                color $cinza
                h2
                    margin 0 0 .6em
                    cinzel 24
                p
                    lato 16
                    margin 0
            +mobile()
                display block
                > div
                    display block !important
                .imagem
                    width 100%
                    display block
                    margin-bottom 20px
                    img
                        width 100%
                .texto
                    width 100%
                    padding 0
                    h2
                        font-size 22px
                    p
                        font-size 15px
    .atendimento
        text-align center
        padding 45px 0
        color $vermelho
        +mobile()
            padding 30px 0
        h2
            lato 24 light
            margin 0 0 1.5em
            line-height 1.1
            span
                lato 42 light
                display block
            +tablet()
                font-size 22px
                span
                    font-size 38px
            +mobile()
                lato 18
                span
                    lato 26
                    line-height 1.4
        a
            display inline-block
            lato 20
            padding 12px 24px 14px
            border 1px solid $vermelho
            transition background .3s, color .3s
            line-height 1
            &:hover
                background $vermelho
                color #fff
            +tablet()
                lato 18
            +mobile()
                padding 10px 16px 12px
                lato 16
