.noticias
    background #E8E9E3
    clearfix()
    .left
    .right
        width 50%
        float left
        padding 50px 0
    .left
        padding-right 60px
        .nenhuma
            width 100%
            padding 10px
            border 1px solid rgba($cinza, .5)
            color $cinza
            lato 13
        .links
            +mobile()
                margin-top 30px
                border-top 1px solid $cinza
                padding-top 6px
            a
                display block
                lato 18 normal italic
                color $vermelho
                border-bottom 1px solid $cinza
                padding-bottom 6px
                margin-bottom 6px
                transition padding .3s, color .3s
                &:hover
                    padding-left 5px
                    color $cinza
        .controls
            margin-top 25px
            clearfix()
            a
                display inline-block
                lato 14
                color $cinza
                padding 10px
                border 1px solid $cinza
                text-transform uppercase
                transition background .3s, color .3s, opacity .3s
                &#noticias-proximas
                    float right
                &.disabled
                    background rgba($cinza, .3)
                    cursor not-allowed
                    pointer-events none
                    opacity .4
                &:hover
                    background $cinza
                    color #fff
    .right
        float right
        color $cinza
        lato 15
        h1
            lato 28 bold italic
            margin 0
        a
            color $vermelho
            &:hover
                text-decoration underline
        img
            width 100%
            display block
        .info
            lato 12
            position relative
            margin 10px 0 35px
            padding-top 10px
            &:before
                content ''
                position absolute
                width 120px
                height 1px
                background $cinza
                top 0
                left 0
            span
                display block
        li
            margin .3em 0
    +tablet()
        .left
        .right
            padding 40px 0
        .right
            width 52%
            max-width 450px
            float right
        .left
            width 47%
            padding-right 20px
    +mobile()
        padding 25px 0
        .left
        .right
            width 100%
            float left
            padding 0
