.quem-somos
    .textos
        background #E8E9E3
        clearfix()
        .left
        .right
            width 50%
            float left
            padding 50px 0
        .left
            padding-right 60px
            h2
                cinzel 22
                color $vermelho
                margin 0
        .right
            p
                lato 15
                color $cinza
                line-height 1.6
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
        +tablet()
            .left
            .right
                padding 40px 0
            .right
                width 52%
                max-width 450px
                float right
            .left
                width 47%
                padding-right 20px
        +mobile()
            padding 25px 0
            .left
                h2
                    font-size 20px
            .left
            .right
                width 100%
                float left
                padding 0
            .right
                margin-top 25px
    .profissionais
        clearfix()
        padding 50px 0
        +tablet()
            padding 40px 0
        +mobile()
            padding 25px 0
        .profissional
            clearfix()
            &:not(:first-child)
                margin-top 50px
            .left
            .right
                width 50%
                float left
            .left
                padding-right 25px
                clearfix()
                img
                    width 50%
                    float right
                    display block
                h3
                    float left
                    cinzel 40
                    width 44%
                    margin 0
                    color $cinza
            .right
                p
                    lato 15
                    color $cinza
                    line-height 1.6
                    &:first-child
                        margin-top 0
                    &:last-child
                        margin-bottom 0
                a
                    color $vermelho
                    &:hover
                        text-decoration underline
            +tablet()
                .right
                    width 52%
                    max-width 450px
                    float right
                .left
                    width 47%
                    padding-right 20px
                    h3
                    img
                        width 100%
                        float left
                    img
                        margin-top 20px
                    h3
                        font-size 32px
            +mobile()
                &:not(:first-child)
                    margin-top 40px
                .left
                    h3
                    img
                        width 100%
                        float left
                    h3
                        font-size 24px
                    img
                        margin-top 15px
                .left
                .right
                    width 100%
                    float left
                    padding 0
                .right
                    margin-top 15px
